.item
  %table{:class => "table table-bordered table-hover"}
    %tbody
      %tr
        %td{:width => "30%"}
          = t('dashboard.account.apps')
        %td
          %div{:class => "progress"}
            %div{:class => "bar bar-info", :style => "width: #{pct(@account_apps_inuse.to_f, @account_apps_total.to_f)}%;"}
            %div{:class => "bar bar-success", :style => "width: #{pct(@account_apps_unused.to_f, @account_apps_total.to_f)}%;"}
-#        %div{:class => ""}
-#            %div{:class => "",:style => "width:30%;"}=t('dashboard.account.in_use', :inuse => @account_apps_inuse)
-#            %div{:class => "",:style => "width:40%;"}=t('dashboard.account.unused', :unused => @account_apps_unused)
-#            %div{:class => "",:style => "width:30%;"}=t('dashboard.account.total', :total => @account_apps_total)
.item
  %table{:class => "table table-bordered table-hover"}
    %tbody
      %tr
        %td{:width => "30%"}
          = t('dashboard.account.memory')
        %td
          %div{:class => "progress"}
            %div{:class => "bar bar-info", :style => "width: #{pct(@account_mem_inuse.to_f, @account_mem_total.to_f)}%;"}
            %div{:class => "bar bar-success", :style => "width: #{pct(@account_mem_unused.to_f, @account_mem_total.to_f)}%;"}
-#          %div{:class => "row"}
-#            %div{:class => "",:width => "30%"}=t('dashboard.account.in_use', :inuse => pretty_size(@account_mem_inuse * 1024 * 1024))
-#            %div{:class => "",:width => "40%"}=t('dashboard.account.unused', :unused => pretty_size(@account_mem_unused * 1024 * 1024))
-#            %div{:class => "",:width => "30%"}=t('dashboard.account.total', :total => pretty_size(@account_mem_total * 1024 * 1024))
.item
  %table{:class => "table table-bordered table-hover"}
    %tbody
      %tr
        %td{:width => "30%"}
          = t('dashboard.account.services')
        %td
          %div{:class => "progress"}
            %div{:class => "bar bar-info", :style => "width: #{pct(@account_services_inuse.to_f, @account_services_total.to_f)}%;"}
            %div{:class => "bar bar-success", :style => "width: #{pct(@account_services_unused.to_f, @account_services_total.to_f)}%;"}
-#          %div{:class => "row"}
-#            %div{:class => "",:width => "30%"}=t('dashboard.account.in_use', :inuse => @account_services_inuse)
-#            %div{:class => "",:width => "40%"}=t('dashboard.account.unused', :unused => @account_services_unused)
-#            %div{:class => "",:width => "30%"}=t('dashboard.account.total', :total => @account_services_total)
 